MONGO_URI=mongodb+srv://pandeyarpit1707_db_user:tuWRyVrgH2hSwPwX@cluster0.klz0wmk.mongodb.net/?appName=Cluster0
JWT_SECRET=mySuperSecretKey123
JWT_EXPIRES_IN=7d
PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
